.Main {
    height: 150vh;
}

.Hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #495E57;
}

.Segment {
    display: grid;
    place-items: start;
    text-align: center;
    grid-template-rows: none;
}

.Title{
    color: #F4CE14;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0rem;
    grid-column: 3/ span 6;
}

.Subtitle {
    color: #000000;
    grid-column: 3/ span 6;
}

.Hero h1 {
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 500;
}

.Hero h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    transform: translateY(-8px);
}

.Hero button {
    color: #000000;
    width: 8rem;
    height: 2rem;
    grid-column: 3/ span 6;
    background-color: #F4CE14;
    box-shadow: none;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
}

.Hero p {
    color: #000000;
    font-size: 0.8rem;
    font-weight: 500;
    grid-column: 3/ span 6;
    color: white;
    padding-bottom: 1rem;
}

/* .Hero img {
    width: 160px;
    height: 260px;
    display: flex;
    align-self: flex-end;
    transform: translateY(50px);
} */